@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Judson";
    src: url("../fonts/Judson/Judson-Regular.ttf");
}

@font-face {
    font-family: "Labrada";
    src: url("../fonts/Labrada/Labrada-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Flower";
    src: url("../fonts/flower_mandala_monogram/Flower\ Mandala\ Monogram.ttf");
}

body {
    margin: 0;
    height: 100vh;
    background-color: white;
}

p {
    line-height: 5px;
}

p.subtitle {
    font-size: 30px;
    line-height: 20px;
    font-family: "Judson";
    text-decoration-line: underline;
}

.mainInfo {
    background-color: #EEF2F5;
    margin: auto;
    width: 60%;
    height: 300%;
    padding: 3%;
    outline: 2px solid black;
    outline-offset: -2px;
}

.header {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    margin: auto;
    margin-top: -100px;
    padding: 3%;
    padding-top: 120px;
    padding-bottom: 20px;
    text-align: center;
    width: 60%;
    background-color:#6FB684;
    border-radius: 50px;
    justify-content: center;
    outline: 2px solid black;
    outline-offset: -2px;
}

.allServices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
    font-size: 23px;
}

.title {
    -webkit-transform: rotate(-2deg);
    font-size: 45px;
    line-height: 40px;
    font-family: "Labrada";
    color:rgb(31, 31, 31);
    text-shadow: rgb(39, 32, 32) 2px 2px 7px;
    width: 100%;
}

.contactInfo, .openingHours {
    font-size: 20px;
    font-family: "Inter";
    border: #38855C;
    border-right: #EEF2F5;
    border-left: #EEF2F5;
    border-width: 2px;
    border-style:solid;
    padding-right: 20px;
    padding-left: 20px;
}

.logo {
    font-size: 100px;
    font-family: "Flower";
    color: #144723;
}

.openingHoursTable {
    margin: auto;
    text-align: left;
}

.bottomInfo {
    display: flex;
    flex-wrap: wrap;
    background-color: #38855C;
    position: relative;
    text-align: center;
    bottom: -290vh;
    width: 100%;
    padding: 5%;
    padding-top: 20px;
    height: fit-content;
    left: -5%;
    justify-content: center;
    outline: 2px solid black;
    outline-offset: -2px;
}

[openingHours] {
    padding-left: 20px;
    text-align: center;
}

[textColor="light"] {
    color: #EEF2F5;
}

@media screen and (max-width: 455px){

    p.subtitle {
        font-size: 23px;
    }

    .title {
        font-size: 35px;
    }

    .contactInfo, .openingHours {
        font-size: 15px;
    }

    .allServices {
        font-size: 18px;
    }

    .bottomInfo {
        bottom: -290vh;
    }
}

@media screen and (max-width: 700px){

    .header, .mainInfo, .bottomInfo {
        width: 100%;
        padding: 0;
    }

    .header {
        padding-top: 120px;
        padding-bottom: 3%;
        border-radius: 0;
    }

    .bottomInfo {
        left: 0;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    p.subtitle {
        line-height: 10px;
    }
}

@media screen and (max-width: 1050px) {

    .contactInfo, .openingHours {
        border: none;
        margin: auto;
    }
}