@font-face {
    font-family: Inter;
    src: url("../fonts/inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: Judson;
    src: url("../fonts/judson/Judson-Regular.ttf");

}

@font-face {
    font-family: Labrada;
    src: url("../fonts/labrada/Labrada-VariableFont_wght.ttf");
}

@font-face {
    font-family: Swirl;
    src: url("../fonts/Swirl_Leaf_Monogram/Swirl\ Leaf\ Monogram.ttf");
}

div {
    font-family: Inter;
}

.allServices a:hover {
    text-decoration: none;
}

.products {
    font-family: Judson;
}

body {
    margin: 0;
    height: 100vh;
    background-color: white;
}

p {
    line-height: 5px;
}

p.subtitle {
    font-size: 30px;
    line-height: 20px;
    font-family: Judson;
    text-decoration-line: underline;
}

.mainInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EEF2F5;
    margin: auto;
    width: 66%;
    height: max-content;
    padding-top: 0;
    outline: 2px solid black;
    outline-offset: -2px;
}

.centerInfo {
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.productsPage .productDescription, .productsPage .priceTag {
    margin-left: 70px;
}

.productsPage img {
    width: 250px;
}

.product {
    display: flex;
    flex-direction: column;
}
.priceTag {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    margin: auto;
    margin-top: -100px;
    padding: 3%;
    padding-top: 120px;
    padding-bottom: 20px;
    text-align: center;
    width: 60%;
    background-color:#6FB684;
    border-radius: 50px;
    justify-content: center;
    outline: 2px solid black;
    outline-offset: -2px;
}

.allServices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
    font-size: 23px;
    font-family: Judson;
}

.welcomeMessage {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: Labrada;
    font-size: 30px;
}

a.title {
    display: block;
    -webkit-transform: rotate(-2deg);  
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    font-size: 45px;
    line-height: 40px;
    font-family: Labrada;
    text-shadow: rgb(39, 32, 32) 2px 2px 7px;
    width: 100%;
    text-decoration: none;
}

.contactInfo, .openingHours {
    font-size: 20px;
    font-family: Inter;
    border: #38855C;
    border-right: #EEF2F5;
    border-left: #EEF2F5;
    border-width: 2px;
    border-style:solid;
    padding-right: 20px;
    padding-left: 20px;
}

.logo {
    font-size: 45px;
    font-family: Swirl;
    color: #144723;
}

.header .logo{
    position: fixed;
    right: 30px;
    top: 110px;
}

.openingHoursTable {
    margin: auto;
    text-align: left;
}

.bottomInfo {
    display: flex;
    flex-wrap: wrap;
    background-color: #38855C;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 5%;
    padding-top: 20px;
    height: fit-content;
    justify-content: center;
    outline: 2px solid black;
    outline-offset: -2px;
}

[openingHours] {
    padding-left: 20px;
    text-align: center;
}

[textColor="dark"] {
    color: rgb(39, 32, 32);
}

[textColor="greyish"] {
    color: #8C8C8C;
}

[textColor="light"] {
    color: #EEF2F5;
}

@media screen and (max-width: 1100px) {

    .contactInfo, .openingHours {
        border: none;
        margin: auto;
    }

    .bottomInfo {
        flex-direction: column;
    }

    .header {
        top: 0px;
    }

    .header .logo {
        position: relative;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-bottom: -25px;
    }

    .centerInfo {
        padding-top: 240px;
    }
}

@media screen and (max-width: 850px){
    .productsPage img {
        width: 200px;
    }

    .productsPage .productDescription, .productsPage .priceTag {
        margin-left: 40px;
    }
}

@media screen and (max-width: 700px){

    .header, .mainInfo, .bottomInfo {
        width: 100%;
        padding: 0;
    }

    .header {
        padding-top: 120px;
        padding-bottom: 3%;
        border-radius: 0;
    }

    .bottomInfo {
        left: 0;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    p.subtitle {
        line-height: 10px;
    }
}

@media screen and (max-width: 500px){
    .productsPage img {
        width: 140px;
    }

    .productsPage .productDescription, .productsPage .priceTag {
        margin-left: 0;
    }
}

@media screen and (max-width: 455px){

    p.subtitle {
        font-size: 23px;
    }

    a.title {
        font-size: 35px;
    }

    .contactInfo, .openingHours {
        font-size: 15px;
    }

    .allServices {
        font-size: 18px;
    }

    .logo {
        font-size: 35px;
    }

    .centerInfo {
        padding-top: 200px;
    }
}